  <%= render "users/profile", user: @user %>

        <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1"   aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="exampleModalLabel">Settings</h5>
          <button type="button" class="btn-close border-0" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="list-group text-center">
          <%= link_to "Change password", new_user_password_path, class: "list-group-item list-group-item-action" %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
          <a href="#" class="list-group-item list-group-item-action" data-bs-dismiss="modal">Cancel</a>
        </div>
      </div>
    </div>
  </div>

    <div class="mt-5 w-100">
      <% if @user == current_user %>
      <nav class="mb-2">
        <div class="nav d-flex justify-content-center" style="border-top: 1px solid #ddd;" id="nav-tab" role="tablist">
          <button class="nav-link fw-bold py-2 active" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts" aria-selected="true" style="color: #262626; background: transparent; margin-top: -1px; border-radius:0; border-top: 1px solid #262626;">POSTS</button>
          <button class="nav-link fw-bold py-2" id="nav-saved-tab" data-bs-toggle="tab" data-bs-target="#nav-saved" type="button" role="tab" aria-controls="nav-saved" aria-selected="false" style="color:#999; background: transparent; margin-top: -1px; border-radius:0; border-top: 1px solid transparent;">SAVED</button>
          <button class="nav-link fw-bold py-2" id="nav-archived-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-archived-posts" type="button" role="tab" aria-controls="nav-archived-posts" aria-selected="false" style="color:#999; background: transparent; margin-top: -1px; border-radius:0; border-top: 1px solid transparent;">ARCHIVED POSTS</button>
        </div>
      </nav>
      <% end %>
      <div class="tab-content pb-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
          <div class="w-100 px-4">
            <%= render "post", {posts: @posts} %>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab">
          <div class="w-100 px-4">
          <% if @user == current_user %>
             <%= render "post", {posts: @saved} %>
            <% else %>
            <p class="m-2 p-2">No Saved posts found.</p>
          <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-archived-posts" role="tabpanel" aria-labelledby="nav-archived-posts-tab">
          <div class="w-100 px-4">
            <%= render 'posts/archived' %>
          </div>
        </div>
        </div>
      </div>
    </div>
