<% posts.each do |post| %>
<div class="card my-3 p-2" id="post_<%= post.id %>">
  <div class="p-3 pb-1 pt-1 fs-5 d-flex">
    <%= link_to user_path(post.user), style: "text-decoration: none; " do %>
    <%= avatar_or_initial(post.user) if post.user.present? %>
    <% end %>

    <div class="d-flex w-100 justify-content-between align-items-center">
      <%= link_to user_path(post.user), style: "text-decoration: none; color:#262626; margin-left:12px;", title: post.user.name do %>
      <strong class="ml-2"><%= post.user.name %></strong>
      <% end %>

      <% if post.user == current_user %>

       <% if post.archived? %>
          <%= button_to "Unarchive", unarchive_post_path(post), method: :patch, class: "btn btn-success btn-sm", data: { turbo_stream: true } %>
        <% else %>
          <%= button_to "Archive", archive_post_path(post), method: :patch, class: "btn btn-warning btn-sm", data: { turbo_stream: true } %>
       <% end %>

       <%= button_to post_path(post), method: :delete, class: "ms-auto mx-0 border-0 bg-transparent" do %>
        <i class="bi bi-trash fs-6 text-muted"></i>
        <% end %>
      <% end %>
    </div>

  </div>
   <hr class="mt-1">

  <div class="p-3 pt-0 pb-2 w-100 ">
    <%= render "posts/photos", {post: post} %>
  </div>


  <div class="p-2 pt-0">
    <div class="row my-3 align-items-center">
      <div class="d-flex w-100 justify-content-between">
        <div class="d-flex">
          <%= render 'posts/like_icon', post: post %>
            <a href="#" class="text-decoration-none ms-3">
            <i class="bi bi-chat fs-4 text-muted"></i>
            </a>
        </div>
        <%= render "bookmarks/bookmark_icon", post: post %>

      </div> 
    </div>     

    <div class="fs-6">
      <span><strong><%= post.user.name %></strong></span>
      <span><%= post.content %></span>
      <br>
      <span class="ms-2"><%= post.likes.size %> <strong> Likes </strong></span>
    </div>

     <div id="like-text-post-<%= post.id.to_s %>" >
        <%= render "posts/like_text", {likes: post.likes} %>
      </div> 
        
        <!-- Display Comments -->
    <div id="comment-form-post-<%= post.id.to_s %>">
     <%= render "posts/comment_list", {post: post} %>
    </div> 


    <div class="text-muted mt-2 fs-9">
      <%= link_to time_ago_in_words(post.created_at).upcase + " AGO", post_path(post) %>
    </div>
    <hr class="mb-0">

       <!-- New Comment Form -->
      <%= turbo_frame_tag "new-comment-post-#{post.id}" , class:"row my-1" do %>
       <%= render 'comments/form', post: post %>
       <% end %>

  </div>
</div>
<% end %>